body {
    font-size: 17px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
}
.bg {
    background-color: #001dd6;
    background-image: url("images/fabric-plaid.png");
}
nav {
    font-family: Arial;
    width: 100%;
    background: #006;
    color: #FFF;
    font-weight: 900;
    margin-bottom: 5%;
}
h3 {
    font-size: 1em;
}
ol > li {
    list-style-type: none;
}
#logo-tagline {
    text-align: center;
    float: right;
    font-family: 'Cinzel Decorative', cursive;
}
#nav-buttons > a {
    display: inline-block;
    color: #FFF;
    background: #006;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    line-height: 60px;
    font-family: 'Cinzel Decorative', cursive;
    z-index: 100;
    -webkit-transition: all .4s ease-in;
}
#contact-form {
    background: #006;
    padding: 25px;
    color: #FFF;
    position: relative;
}
#contact {
    margin: 0 auto;
}
#nav-buttons > a:hover {
    background: #FFF;
    color: #00F;
}
#products {
    padding-bottom: 200px;
    color: #FFF;
    display: block;
    text-align: center;
    font-size: 1.4em;
    font-weight: 900;
    margin: 0 auto;
    width: 80%;
}
.email-form-container {
    margin: 0 auto;
    width: 100%;
    display: inline-block;
}
.info {
    background: #000;
    color: #fff;
    overflow: hidden;
    height: 100%;
    border-radius: 15px;
}
a,
a:hover {
    text-decoration: none;
    color: #FFF;
}
.center {
    margin: 0 auto;
    text-align: center;
}
/* Slideshow container */

.slideshow-container {
    position: relative;
    margin: auto;
}
img {
    width: 100%;
}
/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}