@media only screen and (min-width: 768px) {
 body {
     font: 400 15px Lato, sans-serif;
     line-height: 1.8;
     color: #818181;
 }
 h1{
       font-family: 'Cinzel Decorative', cursive;
  
 }
 h2 {
     font-size: 24px;
     text-transform: uppercase;
     color: #303030;
     font-weight: 600;
     margin-bottom: 30px;
 }
 h4 {
     font-size: 19px;
     line-height: 1.375em;
     color: #303030;
     font-weight: 400;
     margin-bottom: 30px;
 }
 .jumbotron {
     color: #fff;
     padding: 100px 25px;
     font-family: Montserrat, sans-serif;
 }
 .bouquet-bg{
     background-image: url('../images/rose.jpg');
     background-size: cover;
     background-repeat: no-repeat;
 }
 .container-fluid {
     padding: 60px 50px;
 }
 .bg-grey {
     background-color: #f6f6f6;
 }
 .logo-small {
     color: #006;
     font-size: 50px;
 }
 .logo {
     color: #006;
     font-size: 200px;
}
 .item h4 {
     font-size: 19px;
     line-height: 1.375em;
     font-weight: 400;
     font-style: italic;
     margin: 70px 0;
 }
 .item span {
     font-style: normal;
 }
 }
 